body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: red;
  color: white;
}

h1 {
  color: black;
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 20px;
  border-radius: 25px;
}

#gameButtonArea > button {
  width:90px;
  height:100px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: lightblue;
}

#button3 {
    background: pink;
}

#button4 {
    background: lightyellow;
}

#button5 {
    background: gray;
}

#button1:active, #button1.lit {
    background:green;
}

#button2:active, #button2.lit {
    background:blue;
}

#button3:active, #button3.lit {
    background:hotpink;
}

#button4:active, #button4.lit {
    background:yellow;
}

#button5:active, #button5.lit {
    background:black;
}